# --- API/env ---
export API_PORT="3000"

# Spotify (required)
export SPOTIFY_CLIENT_ID=""
export SPOTIFY_CLIENT_SECRET=""
# default uses DOMAIN if not set
export SPOTIFY_REDIRECT_URI=""

# Spotify tokens (optional; will be filled after first login)
export SPOTIFY_REFRESH_TOKEN=""
export SPOTIFY_ACCESS_TOKEN=""